.navbar{
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    min-height: 65px;
    max-height: 65px;
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    overflow-y: hidden;
}
.logoarea{
    margin-left: 30px;
    font-size: 28px;
    font-weight: bold;
    color: #6EEC59;
    font-family: 'Denk One', sans-serif;
    letter-spacing: 0.12em;
    cursor: pointer;
}
.bar{
    display: none;
    cursor: pointer;
}
.nav-menu{
    margin-right: 35px;
}
.nav-items{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
}
.nav-item{
    margin-right: 30px;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
    font-family: 'roboto';
    font-weight: 400;
    letter-spacing: 0.12rem;
}
.amiy{
    border-bottom: solid 2px #6EEC59;
}


/*responsive*/

@media only screen and (max-width: 750px) {
    .bar{
        display: inline;
        font-size: 33px;
        margin-right: 8px;
        cursor: pointer;
        color: rgb(243, 243, 243);
    }
    .nav-items{
        display: none;
    }
    .logoarea{
        letter-spacing: 0.14rem;
        font-size: 25px;
    }
  }