@import url('https://fonts.googleapis.com/css2?family=Denk+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.allpage{
  height: 100vh;
  width: 100%;
}
.section{
  height: calc(100vh - 65px);
  width: 100%;
  position: relative;
  scroll-behavior: smooth;
  top: 65px;
  scroll-snap-type: y mandatory;
}

.section::-webkit-scrollbar{
  display: none;
}


@media only screen and (max-width: 750px){


  
}